/* .container{
    align-items: center;
    margin: 100px;
}
form{
    height: 50vh;
    width: 100%;
    padding: 20px;
    align-items: center;
    border: 1px solid #81c8e4;
    border-radius: 10px;
} */
