<app-header></app-header>
<div class="px-10 py-3 block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
    <p class="mb-2 mt-1 pb-1 text-xl font-semibold">View Documents</p>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 text-center">
        <thead class="text-xs text-gray-700 py-3 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Number</th>
                <th scope="col">File Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700" *ngFor="let p of PDFList">
                <td>{{p.createdOn| date : "dd-MM-yyyy" }}</td>
                <td>{{p.id}}</td>
                <td>{{p.fileName}}</td>
                <!-- <td><button style="background-color: #59baa6;border: none;padding:0px 12px 0px 12px ;border-radius: 3px;">View</button></td> -->
                <td><button (click)="downloadFile(p.fileName, p.id)">View</button></td>
            </tr>

        </tbody>
    </table>
</div>